<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    </configSections>
    <unity>
        <containers>
            <container name="Workflow">
                <types>
                    <!--
                    <type type="EIS.AppModel.Workflow.ITaskAction,EIS.AppModel" mapTo="EIS.Customer.TaskAction,EIS.Customer"></type>
                    <type type="EIS.AppModel.Workflow.ITaskAction,EIS.AppModel" mapTo="PKUCARE.Logic.Interface.TaskAction,PKUCARE.Logic"></type>
                    -->
                </types>
            </container>
            <container name="System2">
                <types>
                    <type type="EIS.AppModel.AppModel.ICustomise,EIS.AppModel" mapTo="EIS.Sheet.Logic.DefaultValue,EIS.Sheet"></type>
                </types>
            </container>
        </containers>
    </unity>
</configuration>
