<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sysDataBase" connectionString="user id=nkpmv2;password=nkpmv2;data source=127.0.0.1/orcl" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
    <system.web>
      <machineKey validation="3DES" validationKey="8044F2D6417FAF5107161285298CACEE40D13B71" decryptionKey="3A008BA4A1AC983B1B63298C3A64A9CDEFFC011DCE8A91BD" decryption="3DES"/>
      <!-- 设置 compilation debug="true" 将调试符号插入已编译的页面中。但由于这会影响性能，因此只在开发过程中将此值 设置为 true。-->
      <compilation debug="true" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </assemblies>
      </compilation>
      <!-- 通过 <authentication> 节可以配置 ASP.NET 使用的安全身份验证模式，以标识传入的用户。  -->
      <authentication mode="Forms">
        <forms name=".ASPXAUTH" loginUrl="index.html" defaultUrl="MainFrame.aspx" timeout="120"/>
      </authentication>
      <identity impersonate="true" userName="WebAdmin" password="Dell@127!abc"/>
      <authorization>
        <deny users ="?"/>
      </authorization>

      <customErrors mode="Off" defaultRedirect="Error.aspx" redirectMode="ResponseRewrite">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="NotFound.aspx" />
      </customErrors>
      <pages>
        <controls>
          <!-- 注册用户控件 -->
          <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/UserDealInfo.ascx" tagName="UserDealInfo"/>
          <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/WorkflowImg.ascx" tagName="WorkflowImg"/>
          <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/InstanceImg.ascx" tagName="InstanceImg"/>
          <add tagPrefix="wf" src="~/SysFolder/WorkFlow/UserControl/InstanceLog.ascx" tagName="InstanceLog"/>
        </controls>
      </pages>
      <httpHandlers>
        <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
        <add verb="POST" path="FancyUpload.axd" type="EIS.AppCommon.FancyUpload, EIS.Common"/>
        <add verb="POST" path="UploadImage.axd" type="EIS.AppCommon.UploadImage, EIS.Common"/>
        
        <add verb="POST" path="GetData.ashx" type="EZ.Data.GetData, EIS.Data"/>
        <add verb="POST,GET" path="GetJson.ashx" type="EZ.Data.GetJson, EZ.Data"/>
        <add verb="POST,GET" path="GetChartData.ashx" type="EZ.Data.GetChartData, EZ.Data"/>
        <add verb="POST" path="GetXml.ashx" type="EZ.Data.GetXml, EIS.Data"/>
        <add verb="GET" path="VerifyCode.axd" type="EZ.Common.VerifyCode, EIS.Common"/>
        <add verb="GET" path="QRCode.axd" type="EZ.Common.QRCode, EZ.Common"/>
      </httpHandlers>
      <httpRuntime executionTimeout="90" requestValidationMode="2.0" maxRequestLength="800000000" />
      <!-- 编码设置 -->
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
      <!-- Session保存方案 -->
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="240"/>
    </system.web>
  <appSettings>
    <!--系统标识-->
    <add key="WebId" value="1"/>
    <!--站点标识-->
    <add key="SiteId" value="2"/>

    <!--是否启用任务调度-->
    <add key="Scheduler_Enable" value="0"/>
    <add key="SmsPipeServer" value=".;SmsPipe"/>

    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  </appSettings>
	<location path="img">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="css">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="Unsafe">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="ajaxpro/EIS.Web.DefaultMain,EIS.Web.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="VerifyCode.axd">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="QRCode.axd">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="DataService.asmx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="FancyUpload.axd">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="WorkAsp/News/NewsRead.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="SysFolder/Common/FileDown.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-XSS-Protection" value="0" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".crx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".xpi" mimeType="application/octet-stream" />
      <remove fileExtension=".appcache"/>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/x-javascript"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <security>
      <requestFiltering>
        <!--设置IIS7文件上传的最大大小,单位字节-->
        <requestLimits maxAllowedContentLength="800000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
        <add name="ajaxpro" verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
        <add name="FancyUpload" verb="POST" path="FancyUpload.axd" type="EZ.Data.FancyUpload, EZ.Data"/>
        <add name="UploadImage" verb="POST" path="UploadImage.axd" type="EZ.Data.UploadImage, EZ.Data"/>
        <add name="GetData" verb="POST" path="GetData.ashx" type="EZ.Data.GetData, EZ.Data"/>
        <add name="GetJson" verb="POST,GET" path="GetJson.ashx" type="EZ.Data.GetJson, EZ.Data"/>
        <add name="GetChartData" verb="POST,GET" path="GetChartData.ashx" type="EZ.Data.GetChartData, EZ.Data"/>
        <add name="GetXml" verb="POST" path="GetXml.ashx" type="EZ.Data.GetXml, EZ.Data"/>
       
        <add name="QRCode" verb="GET" path="QRCode.axd" type="EZ.Common.QRCode, EZ.Common"/>
		<add name="VerifyCode" verb="GET" path="VerifyCode.axd" type="EZ.Common.VerifyCode, EZ.Common"/>
    </handlers>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>

  </system.webServer>
</configuration>
